.ui.menu .item.header--title {
  justify-content: center;
  flex-grow: 1;
}

.ui.selection.dropdown--brandName {
  display: block;
  margin-top: 0.5rem;
}

.ui.divided.selection.list > .item--product {
  display: flex;
  align-items: center;
}
