.ui.menu .item.header--title {
  justify-content: center;
  flex-grow: 1;
}

.ui.selection.dropdown--brandName {
  display: block;
  margin-top: 0.5rem;
}

.ui.divided.selection.list > .product {
  display: flex;
  align-items: flex-start;
}

.product > .product__image {
  width: 10%;
}
.product > .product__name {
  width: 70%;
  text-align: left;
}
.product > .product__price {
  width: 20%;
  text-align: right;
}

.detail-page {
  max-width: 30rem;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .detail-page {
    width: auto !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
  }
}
.list-header {
  max-width: 30rem;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  .list-header {
    width: auto !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
  }
}
